@model Model.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!-- Login -->
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="assets/img/logo-sus.png" class="login-logo">
                                    <h1 class="h4 text-gray-900 mb-4">MonitoraSUS</h1>
                                </div>
                                <hr>
                                <form class="user" asp-action="SignIn" asp-controller="Login">
                                    <div class="form-group">
                                        <input asp-for="Cpf" id="cpf" class="form-control form-control-user" data-inputmask="'mask' : '***.***.***-**'" name="cpf" value="" placeholder="CPF" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Senha" id="senha" type="password" class="form-control form-control-user" name="senha" placeholder="Senha" required="required">
                                    </div>
                                    <hr>
                                    <!-- Div erro -->
                                    <div class="alert alert-danger" id="divErro" role="alert">
                                        Credenciais incorretas!
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Entrar
                                    </button>
                                    <div class="info text-center">
                                        <span>Resultado de Exame? </span><br><a href="#">Clique aqui</a>
                                    </div>
                                </form>
                                <div class="card-register">
                                    <div class="row">
                                        <div class="col-6 card-button text-center">
                                            <a href="#">
                                                <div class="card-button-body">
                                                    <span>Secretaria ?</span>
                                                    <i class="fas fa-user-plus fa-3x"></i>
                                                    <span>Cadastre-se</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6 card-button text-center">
                                            <a href="#">
                                                <div class="card-button-body">
                                                    <span>Profissional ?</span>
                                                    <i class="fas fa-user-md fa-3x"></i>
                                                    <span>Cadastre-se</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<!-- jQuery -->
<script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/assets/vendor/custom/bootstrap.min.js"></script>
<!-- jquery.inputmask -->
<script src="~/assets/vendor/custom/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
<!-- Custom Theme Scripts -->
<script src="~/assets/vendor/custom/custom.min.js"></script>

<script>
    let div = document.getElementById("divErro");
    window.location.href.includes("msg=erro") ? div.hidden = false : div.hidden = true;
</script>
}