@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";

    var claimsIdentity = User.Identity as ClaimsIdentity;
    string nome = "";
    string role = "";

    if (claimsIdentity != null)
    {
        nome = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.NameIdentifier).Select(s => s.Value).FirstOrDefault();
        role = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Role).Select(s => s.Value).FirstOrDefault();
    }

    /*
     * ====== NIVEIS NO BANCO ======
     * USUARIO = 0
     * AGENTE = 1
     * GESTOR = 2
     * SECRETARIO = 3
     * ADM = 4
     */
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Início</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    
                        @if (User.IsInRole("USUARIO"))
                        {

                        }
                        else if (User.IsInRole("AGENTE"))
                        {
                        <h6 class="heading-small text-muted mb-4">Paciente</h6>
                        <div class="row">
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Create" class="btn btn-block card-button-home">
                                    <i class="fas fa-file-medical fa-2x"></i>
                                    <br>Notificar <br> Exame
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Index" class="btn btn-block card-button-home">
                                    <i class="fas fa-clipboard-list fa-2x"></i>
                                    <br>Exames <br> Notificados
                                </a>
                            </div>
                        </div>
                        }
                        else if (User.IsInRole("GESTOR"))
                        {   
                        <h6 class="heading-small text-muted mb-4">Paciente</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <a asp-controller="Exame" asp-action="Create" class="btn btn-block card-button-home">
                                    <i class="fas fa-file-medical fa-2x"></i>
                                    <br>Notificar <br> Exame
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a asp-controller="Exame" asp-action="Index" class="btn btn-block card-button-home">
                                    <i class="fas fa-clipboard-list fa-2x"></i>
                                    <br>Exames <br> Notificados
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="" class="btn btn-block card-button-home" onclick="swtAlert(); return false;">
                                    <i class="fas fa-users-cog fa-2x" ></i>
                                    <br>Monitorar <br>Pacientes
                                </a>
                            </div> 
                        </div>
                        <h6 class="heading-small text-muted mb-4" style="margin-top:10px;">Administração </h6>
                        <div class="row">
                            <div class="col-md-3">
                                <a asp-controller="EmpresaExame" asp-action="Index" class="btn btn-block card-button-home"> 
                                    <i class="fas fa-users-cog fa-2x"></i>
                                    <br>Cadastro de <br>Laboratórios
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="0" class="btn btn-block card-button-home">
                                    <i class="fas fa-clipboard-list fa-2x"></i>
                                    <br>Autorizar Notificadores<br> de Exames
                                </a>
                            </div>
                        </div>
                        }
                        else if (User.IsInRole("SECRETARIO"))
                        {
                        <h6 class="heading-small text-muted mb-4">Paciente</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <a asp-controller="Exame" asp-action="Create" class="btn btn-block card-button-home"> 
                                    <i class="fas fa-file-medical fa-2x"></i>
                                    <br>Notificar <br> Exames
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a asp-controller="Exame" asp-action="Index" class="btn btn-block card-button-home">
                                    <i class="fas fa-clipboard-list fa-2x"></i>
                                    <br>Exames <br> Notificados
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="" class="btn btn-block card-button-home" onclick="swtAlert(); return false;">
                                    <i class="fas fa-users-cog fa-2x" ></i>
                                    <br>Monitorar <br>Pacientes
                                </a>
                            </div> 
                        </div>
                        <h6 class="heading-small text-muted mb-4" style="margin-top:10px;">Administração </h6>
                        <div class="row">
                            <div class="col-md-3">
                                <a asp-controller="EmpresaExame" asp-action="Index" class="btn btn-block card-button-home"> 
                                    <i class="fas fa-users-cog fa-2x"></i>
                                    <br>Cadastro de <br>Laboratórios
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="0" class="btn btn-block card-button-home">
                                    <i class="fas fa-clipboard-list fa-2x"></i>
                                    <br>Autorizar Notificadores<br> de Exames
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="1" class="btn btn-block card-button-home">
                                    <i class="fas fa-file-medical fa-2x"></i>
                                    <br>Autorizar Gestores<br> de Saúde
                                </a>
                            </div>
                        </div>
                        }
                        else if (User.IsInRole("ADM"))
                        {   
                        <h6 class="heading-small text-muted mb-4" style="margin-top:10px;">Administração </h6>
						<div class="row">
							<div class="col-md-3 col-6">
								<a class="btn btn-block card-button-home" asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="1">
									<i class="fas fa-users-cog fa-2x"></i>
									<br> Autorizar Gestores<br> de Saúde
								</a>
							</div>
							<div class="col-md-3">
								<a asp-controller="EmpresaExame" asp-action="Index" class="btn btn-block card-button-home">
									<i class="fas fa-users-cog fa-2x"></i>
									<br>Cadastro de <br>Laboratórios
								</a>
							</div>
						</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function swtAlert() {
        Swal.fire({
            icon: "error",
            title: "Funcionalidade Indisponível",
            text: "Essa funcionalidade está em processo de desenvolvimento. Quer conversar conosco e enviar suas necessidades e sugestões ? Entre em contato pelo email fabricadesoftware@ufs.br",
        });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
