@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";

    var claimsIdentity = User.Identity as ClaimsIdentity;
    string nome = "";
    string role = "";

    if (claimsIdentity != null)
    {
        nome = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.NameIdentifier).Select(s => s.Value).FirstOrDefault();
        role = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Role).Select(s => s.Value).FirstOrDefault();
    }

    /*
     * ====== NIVEIS NO BANCO ======
     * USUARIO = 0
     * AGENTE = 1
     * COORDENADOR = 2
     * SECRETARIO = 3
     * ADM = 4
     */
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Início</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row">
                        @if (User.IsInRole("USUARIO"))
                        {

                        }
                        else if (User.IsInRole("AGENTE"))
                        {
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Create">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button  bg-gradient-primary">
                                            <div class="row">

                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-file-medical"></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Notificar Resultado Exame</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Index">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-clipboard-list "></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Histórico de Resultados</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else if (User.IsInRole("GESTOR"))
                        {
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Create">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button  bg-gradient-primary">
                                            <div class="row">

                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-file-medical"></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Notificar Resultado Exame</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Index">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-clipboard-list "></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Histórico de Resultados</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a onclick="swtAlert()">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog" ></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Monitorar Pacientes</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="0">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-clipboard-list "></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Autorizar Realizadores de Exames
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--div class="col-xl-2 col-md-4">
                                <a asp-controller="" asp-action="">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog"></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Autorizar Agentes em Laboratórios
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </!--div-->
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="EmpresaExame" asp-action="Index">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog"></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Cadastro de Laboratórios
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else if (User.IsInRole("SECRETARIO"))
                        {
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Create">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button  bg-gradient-primary">
                                            <div class="row">

                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-file-medical"></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Notificar Resultado Exame</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="Exame" asp-action="Index">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-clipboard-list "></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Histórico de Resultados</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a onclick="swtAlert()">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog" ></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Monitorar Pacientes</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="1">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button  bg-gradient-primary">
                                            <div class="row">

                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-file-medical"></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Autorizar Gestores de Saúde
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="0">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-clipboard-list "></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Autorizar Realizadores Exames
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--div class="col-xl-2 col-md-4">
                                <a asp-controller="" asp-action="">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog"></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Autorizar Agentes em Laboratórios
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </!--div-->
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="EmpresaExame" asp-action="Index">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button bg-gradient-primary">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog"></i>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">
                                                        Cadastro de Laboratórios
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else if (User.IsInRole("ADM"))
                        {
                            <div class="col-xl-2 col-md-4">
                                <a asp-controller="AgenteSecretario" asp-action="IndexApproveAgent" asp-route-ehResponsavel="1">
                                    <div class="card card-stats ">
                                        <div class="card-body card-round card-button  bg-gradient-primary">
                                            <div class="row">

                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
                                                        <i class="fas fa-users-cog"></i>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted-white mb-0">Autorizar Gestores de Saúde</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
							<div class="col-xl-2 col-md-4">
								<a asp-controller="EmpresaExame" asp-action="Index">
									<div class="card card-stats ">
										<div class="card-body card-round card-button bg-gradient-primary">
											<div class="row">
												<div class="col-auto">
													<div class="icon icon-shape bg-translucent-white text-white rounded-circle shadow">
														<i class="fas fa-users-cog"></i>
													</div>
												</div>
												<div class="col">
													<h5 class="card-title text-uppercase text-muted-white mb-0">
														Cadastro de Laboratórios
													</h5>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function swtAlert() {
        Swal.fire({
            icon: "error",
            title: "funcionalidade Indisponível",
            text: "Essa funcionalidade está em processo de desenvolvimento.Quer conversar conosco e enviar suas necessidades e sugestões ? Entre em contato pelo email fabricadesoftware@ufs.br",
        });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
