<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="">
    <meta name="description" content="">
    
    <title>MonitoraSUS</title>

    <!-- Fonts -->
    <link href="assets/fonts/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="assets/js/plugins/sweetalert2/dist/css/sweetalert2.min.css">
</head>

<body>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-gradient-primary">
        <div class="container">
            <img src="assets/img/logo-sus.png" class="logo-painel" >  
            <a class="navbar-painel" href="#">MonitoraSUS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-default">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="javascript:void(0)">
                                <img src="../../assets/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-lg-auto">
                    <img src="assets/img/logo-ufs_horizontal.png"  class="logo-painel-right">  
                </div>
            </div>
        </div>
        </nav>
        <!-- Header -->
        <div class="header pb-5">
        <div class="container-fluid">
            <div class="header-body">
            </div>
        </div>
        </div>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-content ">
                        <div class="card-header ">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0 poppins" style="color: #172b3e !important;">Sistema Nacional de Monitoramento de Doenças Infectocontagiosas</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body card-painel-home">
                            <div class="row ">
                                <div class="col-12">
                                    <p class="home-info text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. 
                                    </p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3 col-6">
                                    <div class="card card-lift--hover shadow border-0 card-button-painel">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-default text-white rounded-circle shadow mb-3">
                                                <i class="fas fa-home"></i>
                                            </div>
                                            <h3 class="card-title poppins">Home</h3>
                                            <p class="card-text card-text-panel">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="card card-lift--hover shadow border-0 card-button-painel">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-default text-white rounded-circle shadow mb-3">
                                                <i class="fas fa-chart-line"></i>
                                            </div>
                                            <h3 class="card-title poppins">Charts</h3>
                                            <p class="card-text card-text-panel">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="card card-lift--hover shadow border-0 card-button-painel">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-default text-white rounded-circle shadow mb-3">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                            <h3 class="card-title poppins">Maps</h3>
                                            <p class="card-text card-text-panel">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="card card-lift--hover shadow border-0 card-button-painel">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-default text-white rounded-circle shadow mb-3">
                                                <i class="fas fa-users"></i>
                                            </div>
                                            <h3 class="card-title poppins">About Us</h3>
                                            <p class="card-text card-text-panel">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-foooter">
                                <div class="col-md-3 ">
                                    <h4 class="card-title">Desenvolvimento</h4>
                                    <ul>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                    </ul>
                                    
                                </div>
                                <div class="col-md-3 ">
                                    <h4 class="card-title  ">Orientação Técnica</h4>
                                    <ul>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                        <li>Lorem Ipsum Dolor</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 ">
                                    <h4 class="card-title ">Realização</h4>
                                    <img src="assets/img/logo-knuth.jpeg"  class="logo-painel-footer">  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-page">
                Copyright &copy; 2020 Universidade Federal de Sergipe - Todos os direitos reservados.
            </div>
        </div>
    </div>
    
    <!-- Scripts -->
    <script src="assets/js/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/js-cookie/js.cookie.js"></script>
	<script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
	<script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <script src="assets/js/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="assets/js/plugins/sweetalert2/dist/js/sweetalert2.min.js"></script>
    <script src="assets/js/argon.js?v=1.2.0"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>