.link {
    color: #fff;
}

.card-content{
    margin-top: 3rem !important;
} 
.top-user{
    margin-top: 1rem !important;
    color: #fff !important;
}

.top-user span{
    display: block;
}
.top-user i{
    margin-right: 10px;
}

.text-muted-white
{
    color: #f2f2f2 !important;
    font-weight: bold;
}

.card-button{
    cursor: pointer;
}

.logo-header{
    height: 80px;
    width: 80px;
    margin-top: 15px;
}

.footer-transparent
{
    color: #fff !important;
    padding: 30px 0; 
}

.card-round{
    border-radius: 10px !important;
}
